.product {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 40px;
    transition: all 0.5s;
    cursor: pointer;
    overflow: hidden
}

.product:hover {
    box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.25);
}

.product:hover .product-icons {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.product-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product-content h5 {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #26CE69;
    text-transform: capitalize;
}

.product-content h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin: 12px 0;
}

.product-content p {
    font-size: 14px;
    text-transform: capitalize;
}

.product-content p>span {
    color: red;
    font-weight: 500;
}

.product-icons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    transform: translateY(60px);
    transition: all 0.7s;
    opacity: 0;
    visibility: hidden;
}

.product-icons span {
    width: 30px;
    height: 30px;
    background-color: #007DC3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 08.s;
}

.product-icons span:hover {
    background-color: #FF9D43;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}